<%- include('snippets/header') -%>
<%- include('snippets/sidebar') -%>
<div class="main-content">
  <img src="images/welcome.png" style="width:50%; padding-top:10vh;" />
</div>
<%- include('snippets/footer') -%>