body {
  margin: 0px;
  padding: 0px;
  font: 14px Helvetica, Arial, sans-serif;
  background-color: #f0f4f7;
}

.container {
  display: flex;
  align-items: center;
}

/* top navigation bar */
.topnav {
  height: 45px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 3px 0 #cccccc;
  font-weight: 300;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.topnav-box {
  padding: 0 20px;
  font-size: 16px;
}

.topnav a {
  color: #4c4c4c;
  text-decoration: none;
}

.topnav a:hover,.topnav a:active {
  color: #4285F4;

}

.topnav .logo {
  height: 20px;
  padding: 10px;
}

/* Side navigation bar */
.sidebar {
  width: 225px;
  height: calc(100vh - 45px);
  position: fixed;
  top: 45px;
  left: 0;
  background-color: #4c4c4c;
  color: #fff;
}

.sidebar-header {
  padding: 30px 25px;
}
.sidebar-links {
  padding: 30px 0;
}
.sidebar-links a {
  text-decoration: none;
  color: #fff;
}
.sidebar-link {
  padding: 10px 25px;
}
.sidebar-link:hover, .sidebar-link.active {
  background-color: #4c4c4c;
  color: #4285F4;
}

/* Main body */
.main-content {
  height: calc(100vh - 45px - 2*10px);
  padding: 10px 10px 10px calc(225px + 10px);
  text-align: center;
}

.dropdown-menu-container {
  width: 100%;
  height: 30px;
  padding-bottom: 10px;
  text-align: right;
}

.iframe-container {
  width: 100%;
  height: calc(100% - 30px - 10px);
  min-height: 80vh;
}

.looker-iframe {
  width: 100%;
  height: 100%;
  border:none;
}

.data-container {
  font-family: 'Courier New', monospace;
  text-align: left;
}

/* Forms */
.form-div {
  text-align: center;
  padding: 180px 0;
  width: 100%;
}

.form-block {
  padding: 20px;
}

.input-text {
  width: 300px;
  font-size: 16px;
  font-weight: 300;
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: 1px solid #cccccc;
  padding: 10px 10px;
  text-align: left;
}
.input-text:focus {
  outline: none;
  border-bottom: 2px solid #4285F4;
}
.input-text:hover {
  border-bottom: 1px solid #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.input-select {
  width: 320px;
  font-size: 16px;
  font-weight: 300;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #cccccc;
  background-color: rgba(0,0,0,0);
  padding: 10px 10px;
}
.input-select:focus {
  outline: none;
  border-bottom: 2px solid #4285F4;
}
.input-select:hover {
  border-bottom: 1px solid #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.template-button-1 {
  border: 1px solid #4285F4;
  border-radius: 15px;
  color: #4285F4;
  height: 30px;
  background-color: #fff;
  padding: 0 20px;
  font-size: 14px;
}

.template-button-1:hover {
  color: #fff;
  background-color: #4285F4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.template-button-1:focus {
  outline: none;
}

.submit-button {
  font-size: 16px;
  color: white;
  background-color: #BE42FF;
  padding: 5px 10px;
  border: none;
  text-decoration: none;
}
.submit-button:hover {
  color: #BE42FF;
  background-color: #fff;
  border: 1px solid #eed5fb;
}
.submit-button:disabled,
.submit-button[disabled]{
  border: none;
  background-color: #cccccc;
  color: #666666;
}

/* Template Dashboard */
.template-dashboard-container{
  display: flex;
  width: 100%;
  padding: 20px 0;
}
.dashboard-tile {
  width: 30%;
  margin: auto 10px;
  min-width: 300px;
  border-radius: 15px;
  background-color: white;
  height: 200px;
  text-align: center;
}
.dashboard-tile:hover {
  background-color: #ebf7fd;
  border: 1px solid #cecece;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.dashboard-tile .measure {
  font-weight: 900;
  font-size: 2em;
  padding: 10px 0;
  color: #152d3d;
}
.dashboard-tile .title {
  font-size: 1.2em;
  color: #152d3d;
}
.dashboard-tile .variation {
  font-size: 0.8em;
  color: #7e7e7e;
}

.template-dashboard-container a, .template-dashboard-container a:hover {
  text-decoration: none;
}
