<div class="sidebar">
  <div class="sidebar-header">
    <p style="margin: 0 0 5px 0; font-size: 1.5em;"><%= session.siteName %></p>
  <%#<p style="margin: 0; font-size: 0.8em;">Role: Owner</p>%>
  </div>
  <hr>
  <div class="sidebar-links">
    <a href="/"><div class="sidebar-link">Home</div></a>
    <a href="/dashboard?dashboard=<%=config.get('dashboardId')%>"><div class="sidebar-link">iframe Dashboard</div></a>
    <%if(session.permissions.includes("explore")){%>
    <a href="/explore"><div class="sidebar-link">iframe Explore</div></a>
    <%}%>
    <a href="/apiExample"><div class="sidebar-link">Sample API Call</div></a>
  </div>
  <script>
    $(function() {
      $('.sidebar').find('.sidebar-links').find('a[href="/' + location.pathname.split("/")[1] + location.search + '"]').find('.sidebar-link').addClass('active');
    });
  </script>
</div>